# .env
node_modules

data/stories/**/*.png
data/stories/**/*.jpg
data/stories/**/*.jpeg
data/stories/**/*.gif
data/stories/**/*.bmp
data/stories/**/*.svg
data/stories/**/*.ogg
!data/stories/default/cover.png
!data/stories/default/picture.png
coverage
.nyc_output