<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Caveat|Overlock+SC|Patrick+Hand" rel="stylesheet">
    <title>Create story</title>
</head>

<body>
    <div class="container">
        <h1>CREATE YOUR STORY</h1>
        <img class="book-cover" src="../images/chicken.png" alt="chicken - book cover">
        <form class="book-details" action="submit">
            <input type="text" placeholder="Title">
            <input type="text" disabled placeholder="Author">
            <input type="text" placeholder="Audio language">
            <input type="text" placeholder="Text language">
            <button>SUBMIT</button>
        </form>
        <h3>PAGES</h3>
        <ul class="pages-section">
            <div class="page">
                <img class="page-img" src="../images/bat.png" alt="page image">
                <span>1</span>
            </div>
            <div class="page">
                <img class="page-img" src="../images/bat.png" alt="page image">
                <span>2</span>
            </div>
            <div class="page">
                <img class="page-img" src="../images/bat.png" alt="page image">
                <span>3</span>
            </div>
            <div class="page">
                <img class="page-img" src="../images/bat.png" alt="page image">
                <span>4</span>
            </div>
            <div class="page">
                <img class="page-img" src="../images/bat.png" alt="page image">
                <span>5</span>
            </div>
            <div class="page">
                <img class="page-img" src="../images/bat.png" alt="page image">
                <span>6</span>
            </div>
            <div class="page">
                <img class="page-img" src="../images/bat.png" alt="page image">
                <span>7</span>
            </div>
            <div class="page">
                <img class="page-img" src="https://dummyimage.com/100x75/857c85/000000&text=M" alt="more pages">
                <span>8</span>
            </div>
        </ul>
    </div>
</body>

</html>