<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Caveat|Overlock+SC|Patrick+Hand" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome-font-awesome.min.css">
    <title>Edit page</title>
</head>

<body>
    <div class="container">
        <div class="title">
            <h1>THE BLUE LITTLE GIRL - PAGE 1</h1>
            <div class="info">
                <button class="help">?</button>
                <button class="save">SAVE</button>
                <button class="not-save">DON'T SAVE</button>
            </div>

        </div>
        <h4 class="draw-title">PAGE DRAWING</h4>
        <canvas class="canvas" id="page-draw" width="500" height="300"></canvas>
        <h4 class="text-title">PAGE TEXT</h4>
        <textarea name="DRAW" id="DRAW-PAGE" placeholder="WRITE HERE YOUR TEXT..." cols="20" rows="10"></textarea>
        <h4 class="audio-title">PAGE AUDIO</h4>
        <div class="audio-container">
            <button class="rec"><i class="fa fa-dot-circle-o"></i></button>
            <button><i class="fa fa-play-circle"></i></button>
            <button><i class="fa fa-stop"></i></button>
        </div>
        <div class="save-back">
            <button>SAVE CHANGES</button>
            <a href="#">GO BACK</a>
        </div>
        <div class="navbar">
            <button class="draw"><i class="fa fa-pencil"></i></button>
            <button class="text"><i class="fa fa-text-width"></i></button>
            <button class="audio"><i class="fa fa-youtube-play"></i></button>
            <button class="preview"><i class="fa fa-eye"></i></button>
        </div>
    </div>
</body>

</html>